services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    volumes:
      - ollama:/root/.ollama
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_HOST=0.0.0.0
      - OLLAMA_NUM_PARALLEL=1
      - OLLAMA_MAX_LOADED_MODELS=1
      - OLLAMA_GPU_LAYERS=0
      - OLLAMA_NUM_THREADS=4
      - OLLAMA_MAX_QUEUE=1024
      - OLLAMA_KEEP_ALIVE="30m"
      - OLLAMA_DEBUG=false

volumes:
  ollama: